<div class="row p-3">
    <div class="col-7">
        <app-progress-bar [progressValue]="20"></app-progress-bar>
    </div>
</div>

<div class="row">
    <div class="col-7">
        courseName => {{courseName}}
        <br>
        upperCase => {{courseName | uppercase}}
    </div>
    <div class="col-7">
        courseName => {{courseName}}
        <br>
        lowerCase => {{courseName | lowercase}}
    </div>
    <div class="col-5">
        studentObj => {{studentObj}}
        <br>
        studentObj => {{studentObj | json}}
    </div>
</div>
<div class="row">
    <div class="col-5">
        currentDate => {{currentDate}}
        <br>
        currentDate only => {{currentDate | date}}
        <br>
        currentDate only => {{currentDate | date:'dd-MM-yyyy'}}
        <br>
        currentDate only => {{currentDate | date:'dd/MMM/yyyy'}}
        <br>
        currentDate only => {{currentDate | date:'hh:mm:ss'}}
    </div>
</div>


<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>
    <div class="col-3">
        <button *ngFor="let cityName of cityList" class="btn btn-success mx-1">
            {{cityName}}
        </button>
    </div>
    <div class="col-3">
        <div *ngFor="let city of cityList">
            <span>{{city}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <select>
                <option *ngFor="let emp of employeeArray" [value]="emp.empId">
                    {{emp.name}} - {{emp.city}}
                </option>
            </select>
        </div>
    </div>
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Mobile No</th>
                    <th>Attendance</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employeeArray; let srno = index">
                    <td>{{srno+1}}</td>
                    <td>{{emp.name | na}}</td>
                    <td>{{emp.city | uppercase}}</td>
                    <td>{{emp.contactNo}}</td>
                    <td>
                        <app-progress-bar [progressValue]="emp.attendance"></app-progress-bar>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>