<div>
  <nav class="navbar navbar-dark bg-dark" style="margin-top:16px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="admin">Angular 19</a>
      </div>
      <ul class="nav navbar-nav" style="visibility: visible; display: flex; flex-direction: row;">
        <li>
          <a class="nav-link active p-2" routerLink="admin">Admin</a>
        </li>
        <li><a class="nav-link active p-2" routerLink="dataBinding">Data Binding</a></li>
        <li><a class="nav-link active p-2" routerLink="ng-class">Ng-Class</a></li>
        <li><a class="nav-link active p-2" routerLink="control-flow">Control Statement</a></li>
        <li><a class="nav-link active p-2" routerLink="signal">Signal</a></li>
        <li><a class="nav-link active p-2" routerLink="linkedsignal">Linked Signal</a></li>
        <li><a class="nav-link active p-2" routerLink="templateform">Template Form</a></li>
        <li><a class="nav-link active p-2" routerLink="reactiveform">Reactive Form</a></li>
        <li><a class="nav-link active p-2" routerLink="getapi">GET api</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
            API
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <li><a class="dropdown-item" routerLink="getapi">GET api</a></li>
            <li><a class="dropdown-item" routerLink="getapi">GET api</a></li>
            <li><a class="dropdown-item" routerLink="getapi">GET api</a></li>

          </ul>
        </li>
      </ul>
      <button class="btn btn-danger navbar-btn">Button</button>
    </div>
  </nav>
<router-outlet></router-outlet>
</div>